body{
        background-color:black;
        background-repeat:repeat;
     }
#main{
     font:500 25px cursive, Arial, sans-serif; 
 }
#head{background-image:url(head.jpg);
      height:230px;
      }
h2{background-image:url(transparent_light.png);
    }
h3{color:white;
     text-decoration:underline;
}
#bb{margin:auto;
        text-align:center;
}

a{text-decoration:none;
	color:black;
	word-spacing:90px;
               font-size:x-large;
        }
#two{background-image:url(transparent_light.png);
          padding-top:40px;
}
legend{font-size:large;}
p{color:white;}
#foot{
       text-align:center;
}
a:hover{
   background-color:#C0C0C0;
}