body{
        background-color:black;
        background-repeat:repeat;
     }
#main{
     font:500 25px cursive, Arial, sans-serif; 
 }
#head{background-image:url(head.jpg);
      height:230px;
      }

h2{background-image:url(transparent_light.png);
    }
a{text-decoration:none;
	color:black;
	word-spacing:90px;
               font-size:x-large;
        }
#foot{
       text-align:center;
       color:white;
}
h4{background-image:url(transparent_light.png);
      color:black;
      font:600 30px cursive,monospace;
      text-decoration:underline;
}
#tt{color:white;
      text-align:left;
}
a:hover{
   background-color:#C0C0C0;
}